
body{
  color:black;
  margin: 0;
  text-align: center;
  font-family:'Merriweather',serif;
}
h1{
  color:#F0BB62;
  font-size:5.625rem;
  line-height: 2;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento',cursive;
}
h2{
  color:#F0BB62;
  font-family: 'Montserrat',sans-serif;
  font-size: 2.5rem
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  color: #F0BB62;
  font-family: 'Montserrat',sans-serif;
  font-weight: normal;
}
p {
  line-height: 2;
}
hr{
  border: dotted #3AB0FF 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.con-me{
  text-decoration-color: yellow;
}
.top-container{
  background-color:white;
  position: relative;
  padding-top: 100px;
}

.middle-container{
background-color:white;
margin: 100px 0;
}

.bottom-container{
  background-color:#F0BB62;
  padding: 50px 0 20px;
}
.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;
}
.intro{
  width: 30%;
  margin: auto;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.con-me{
  color: white;
}
.copyright{
  color: white;
  font-size: 0.75rem;
  padding: 20px 0;
}
.email{
  color: #0F2C67;
}
.top-pastries{
  position: absolute;
  right: 300px;
  top:40px;
}
.bottom-pastries{
  position:absolute;
  left:250px;
  bottom: 300px;
}
.ppp-img{
  width: 20%;
  float: left;
  margin-right: 30px;
}
.deco-img{
  width: 20%;
  float:right;
  margin-left:20px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Montserrat',sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
